
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<div class="row margin">
    <div class="col-sm-4">
      <div class="card shadow">
          <div class="card-header clr">TIMETABLE</div>
        <div class="card-body">
          <i class="fas fa-book fa-2x margin-icon"></i> 
          <p class="card-text">Timetable module helps you to store the data to database through the given form.</p>
          <a routerLink="/add-timetable" class="btn btn-primary">Add timetable</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card shadow">
        <div class="card-header clr">SYLLABUS</div>
        <div class="card-body">
          
          <i class="fas fa-book fa-2x margin-icon"></i>    
         
         <p class="card-text">Syllabus module helps you to store the data to database through the given form.</p>
          <a routerLink="/add-syllabus" class="btn btn-primary">Add Syllabus</a>
        </div>
      </div>
            </div>
            <div class="col-sm-4">
                <div class="card shadow">
                  <div class="card-header clr">PREVIOUS YEAR PAPER</div>
                  <div class="card-body">
                      <i class="fas fa-book fa-2x margin-icon"></i> 
                    <p class="card-text">Previous year papers module helps you to store the data to database through the given form.</p>
                    <a routerLink="/add-paper" class="btn btn-primary">Add PreviousPapers</a>
      </div>
    </div>
  </div>
  <br>
  <div class="row margin ">
      <div class="col-sm-4">
        <div class="card shadow">
        <div class="card-header clr">TIMETABLE</div>
          <div class="card-body">
              <i class="fas fa-book fa-2x margin-icon"></i> 
            <p class="card-text">This field shows what type of data is allready in the database and which field need to update. </p>
            <a routerLink="/show-timetable" class="btn btn-primary">Show timetable</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card shadow">
          <div class="card-header clr">SYLLABUS</div>
          <div class="card-body">
              <i class="fas fa-book fa-2x margin-icon"></i> 
            <p class="card-text">This field shows what type of data is allready in a database and which field need to update.</p>
            <a routerLink="/show-syllabus" class="btn btn-primary">Show Syllabus</a>
          </div>
        </div>
              </div>
              <div class="col-sm-4">
                  <div class="card shadow">
                  <div class="card-header clr">PREVIOUS YEAR PAPERS</div>
                    <div class="card-body">
                        <i class="fas fa-book fa-2x margin-icon"></i> 
                      <p class="card-text">This field shows what type of data is allready in a database and hich field need to update.</p>
                      <a routerLink="/show-paper" class="btn btn-primary">Show Previouspapers</a>
        </div>
      </div>
    </div>