
<div class="card border-info mb-3 card1 shadow" style="max-width: 30rem;">
  <div class="card-body">

 <h4 class="card-title">Add TimeTable</h4>
<form  (ngSubmit)="onSubmit()" class="form-group" #timetableform="ngForm">
    <label for="course">course</label>
    <select class="custom-select my-1 mr-sm-2"  [(ngModel)]="model.course"  name="course"  required  id="course">
       
        <option *ngFor="let c of course" [value]="c">{{c}}</option>
    </select>
    
    <br/>
      <label for="exampleInputEmail1">Semester</label>
      
      <select class="custom-select my-1 mr-sm-2" [(ngModel)]="model.semester" required name="semester" id="inlineFormCustomSelectPref">
          
          <option *ngFor="let sem of semesters" [value]="sem">{{sem}}</option>

        </select>
        <br/>
        <label for="exampleInputEmail1">Select Day</label>
        <select class="custom-select my-1 mr-sm-2" [(ngModel)]="model.day" name="day" required id="inlineFormCustomSelectPref">
            <option *ngFor="let day of days" [value]="day">{{day}}</option>
          </select>
        <br>

          <label for="lectures">lectures</label>
          <input type="text" placeholder="lecture-1" [(ngModel)]="model.lectures[0]" name="lecture-1" required class="form-control"/>
          <br/>
          <input type="text" placeholder="lecture-2" [(ngModel)]="model.lectures[1]" name="lecture-2" required class="form-control"/>
          <br/>
          <input type="text" placeholder="lecture-3" [(ngModel)]="model.lectures[2]" name="lecture-3" required class="form-control"/>
          <br/>
          <input type="text" placeholder="lecture-4" [(ngModel)]="model.lectures[3]" name="lecture-4" required class="form-control"/>
          <br/>
          <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!timetableform.form.valid">submit</button>

          <br/>
          <div *ngIf="submitted" class="alert alert-success"><strong>success</strong> Congratulation you have just added a new field </div>

</form>
</div>
</div>