
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">


<div class="card border-info mb-3 card1 shadow" style="max-width: 60rem;">
    <div class="card-body"> 
        <h4 class="card-title">Timetables Details</h4>
<div >
<button (click)="refresh($event)" class="btn btn-outline-primary float-right">
        <div style="font-size:1em;">
                <i class="fas fa-sync"></i>
              </div>
</button>  
</div>    
<br> <br>
<ng2-smart-table [settings]="settings" class="table table-striped  table-hover" [source]="Timetable" (editConfirm)="updateRecord($event)" ></ng2-smart-table>
</div>
